---
import MainLayout from '../layouts/MainLayout.astro';
import Hero from '../components/Hero.astro';
import Project from '@/components/Project.astro';
import Price from '@/components/Price.astro';
import Step from '@/components/Step.astro';
import Faq from '@/components/Faq.astro';
import Contact from '@/components/Contact.astro';
---

<MainLayout title="Développeur Web | Portfolio">
  <main>
    <Hero />
    <Project />
    <Price />
    <Step />
    <Faq />
    <Contact />
  </main>
</MainLayout>