---

---

<section id="contact" class="py-24 px-6 bg-section-bg text-white">
  <div class="max-w-7xl mx-auto grid grid-cols-1 lg:grid-cols-2 gap-20">
    
    <div>
      <span class="reveal text-[#6352ff] text-base mb-4 block font-mono uppercase tracking-[0.3em]">// Contact</span>
      <h2 class="reveal text-3xl md:text-4xl font-black uppercase text-title leading-tight">
        Prêt à donner <br /> vie à votre <br /><span class="text-gradient-pink italic pr-2 mb-4">vision ?</span>
      </h2>
      <p class="reveal text-title/50 text-sm mb-12">Vous avez un projet ambitieux ? Un produit à lancer ?<br>Une refonte qui traîne depuis trop longtemps ?<br>Parlons-en — je réponds dans les 24h.</p>
      
      <div class="space-y-8">
        <div class="flex items-center gap-4 pb-6 mb-12 border-b border-white/10">
        <div class="reveal w-10 h-10 shrink-0 text-[#6352ff]">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418" />
          </svg>
        </div>
        <p class="reveal text-xs md:text-sm font-bold uppercase tracking-widest text-title/80 leading-relaxed mb-2">
          Nous pouvons créer votre site <br><span class="text-gradient-pink italic">partout dans le monde</span>.
        </p>
        </div>
        <!-- <div>
          <p class="text-white/50 uppercase text-[10px] font-black tracking-widest mb-2">Email</p>
          <a href="mailto:votre@email.com" class="text-2xl font-bold hover:text-[#6352ff] transition-colors">votre@email.com</a>
        </div> -->
        <!-- <div>
          <p class="reveal text-title/50 uppercase text-[10px] font-black tracking-widest mb-2">Social</p>
          <div class="flex gap-6">
            <a href="#" class="reveal text-title/80 font-bold hover:text-[#6352ff] transition-colors italic">LinkedIn</a>
            <a href="#" class="reveal text-title/80 font-bold hover:text-[#6352ff] transition-colors italic">Instagram</a>
            <a href="#" class="reveal text-title/80 font-bold hover:text-[#6352ff] transition-colors italic">X (Twitter)</a>
          </div>
        </div> -->
      </div>
    </div>

<div class="reveal bg-white mx-auto w-full max-w-100 md:max-w-none p-6 md:p-12 rounded-[40px] shadow-[0_20px_50px_rgba(99,82,255,0.05)] border border-white">
  
  <form id="form" action="https://api.web3forms.com/submit" method="POST" class="space-y-6">
    <input type="hidden" name="access_key" value="ebae498f-43fc-44c7-8eba-7a8b00d55fe3">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div class="space-y-2">
        <label class="text-[10px] uppercase font-black tracking-[0.2em] text-title/50 ml-2">Nom</label>
        <input type="text" name="name" required placeholder="Jean Dupont" 
          class="w-full bg-[#f8f7ff] border border-transparent focus:border-[#6352ff]/20 focus:bg-white rounded-2xl px-6 py-4 outline-none transition-all text-title placeholder:text-title/30" />
      </div>

      <div class="space-y-2">
        <label class="text-[10px] uppercase font-black tracking-[0.2em] text-title/50 ml-2">Email</label>
        <input type="email" name="email" required placeholder="jean@mail.com" 
          class="w-full bg-[#f8f7ff] border border-transparent focus:border-[#6352ff]/20 focus:bg-white rounded-2xl px-6 py-4 outline-none transition-all text-title placeholder:text-title/30" />
      </div>
    </div>

    <div class="space-y-2">
      <label class="text-[10px] uppercase font-black tracking-[0.2em] text-title/50 ml-2">Votre projet</label>
      <div class="relative">
        <select class="w-full bg-[#f8f7ff] border border-transparent focus:border-[#6352ff]/20 focus:bg-white rounded-2xl px-6 py-4 outline-none transition-all text-title/60 appearance-none cursor-pointer">
          <option value="Site Vitrine">Site Vitrine</option>
          <option value="Boutique E-commerce">Boutique E-commerce</option>
          <option value="Site Mono-page">Site Mono-page</option>
        </select>
        <div class="absolute right-6 top-1/2 -translate-y-1/2 pointer-events-none text-[#6352ff]">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 256 256"><path d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80a8,8,0,0,1,11.32-11.32L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
        </div>
      </div>
    </div>

    <div class="space-y-2">
      <label class="text-[10px] uppercase font-black tracking-[0.2em] text-title/50 ml-2">Message</label>
      <textarea rows="4" name="message" required placeholder="Parlez-moi de vos objectifs..." 
        class="w-full bg-[#f8f7ff] border border-transparent focus:border-[#6352ff]/20 focus:bg-white rounded-2xl px-6 py-4 outline-none transition-all text-title placeholder:text-title/30 resize-none"></textarea>
    </div>

    <button type="submit" class="w-full bg-[#6352ff] hover:bg-[#d363ff] text-white font-black uppercase tracking-widest py-6 rounded-2xl transition-all duration-500 shadow-xl shadow-[#6352ff]/25 flex items-center justify-center gap-3 group">
      <span>Envoyer la demande</span>
      <svg class="w-4 h-4 group-hover:translate-x-1 transition-transform" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg>
    </button>

    <div id="result" class="text-center text-sm font-medium mt-4 min-h-5"></div>
  </form>
</div>
  </div>
</section>

<script is:inline>
  const form = document.getElementById('form');
  const result = document.getElementById('result');
  const btn = document.getElementById('submit-btn');

  form.addEventListener('submit', function(e) {
    e.preventDefault();
    const formData = new FormData(form);
    const object = Object.fromEntries(formData);
    const json = JSON.stringify(object);

    // État de chargement
    btn.disabled = true;
    btn.innerText = "Envoi en cours...";
    result.innerHTML = "Veuillez patienter...";
    result.classList.remove('text-red-500', 'text-green-500');
    result.classList.add('text-title/50');

    fetch('https://api.web3forms.com/submit', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            body: json
        })
        .then(async (response) => {
            let json = await response.json();
            if (response.status == 200) {
                result.classList.add('text-green-500');
                result.innerHTML = "✓ Message envoyé avec succès !";
                form.reset(); // Vide le formulaire
            } else {
                console.log(response);
                result.classList.add('text-red-500');
                result.innerHTML = json.message || "Une erreur est survenue.";
            }
        })
        .catch(error => {
            console.log(error);
            result.innerHTML = "Une erreur réseau est survenue.";
        })
        .then(function() {
            btn.disabled = false;
            btn.innerText = "Envoyer le message";
            setTimeout(() => {
                result.innerHTML = ""; // Efface le message après 5 secondes
            }, 5000);
        });
  });
</script>